<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>О нас</h1>
        </header>
        <section>
            <p style="margin-bottom: 60px;">Данный сайт был сделан учеником 10А класса школы №51 в рамках итогового пректа. Все права защищены.</p>
        </section>
        <a href="{{ url_for('home') }}">Вернуться на главную</a>
    </div>
</body>

<style>
    a {
        text-decoration: underline;
        color : #fff;
        font-size: 20px;
    }
</style>

</html>

